__pycache__/
*.pyc
*.pyo
*.pyd


venv/
.venv/
klasifikasi-venv/
sintami-venv/

.python-version

# .ipynb_checkpoints/

# saved_model/
saved_model.zip
new-dataset2.zip

new-dataset2/
image-testing/
other/
demo/

.DS_Store